@page
@model MyApp.Namespace.CreateReservationModel
@{
    ViewData["Title"] = "Create Reservation";
}

<style>
    h1 {
        text-align: center;
    }

    body {
        background-color: rgb(188, 212, 235);
    }

    form {
        width: 300px;
        margin: 0 auto;
        border: 2px solid rgba(255, 255, 255, 0.521);
        padding: 20px;
        border-radius: 5px;
        background: rgb(255, 255, 255);
    }

    .form-group {
        margin-bottom: 15px;
    }

    input[type="text"] {
        width: 100%;
        padding: 8px;
        font-size: 14px;
    }

    button[type="submit"] {
        margin-top: 10px;
        display: block;
        margin: 0 auto;
        background-color: rgb(140, 140, 248);
        border: none;
    }

    a {
        display: block;
        text-align: center;
        margin-top: 20px;
        color: #007bff;
        text-decoration: none
    }

    a:hover {
        text-decoration: none;
    }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<h1>Create Reservation</h1>

<form method="post">
    <div class="form-group">
        <label for="dateTime">Date and Time:</label>
        <input id="dateTime" type="datetime-local" asp-for="Reservation.DateTime" required />
        <script>
            flatpickr("#dateTime", {
                enableTime: true,
                noCalendar: false,
                dateFormat: "Y-m-d H:i",
                minDate: "today",
                minuteIncrement: 60, 
                time_24hr: true 
            });
        </script> 
        <span asp-validation-for="Reservation.DateTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="room">Room:</label>
        <div class="select">
            <select id="room" asp-for="Reservation.RoomId" asp-items="@(new SelectList(Model.Rooms, "Id", "RoomName"))"
                required>
                <option value="">Select a room</option>
            </select>
        </div>
    </div>

    <button type="submit">Create Reservation</button>

</form>

<a asp-page="/DisplayReservation">Display Reservation</a>